<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wqy.cinematickets.dao.managerdao.ManagerDao">
    <!--  根据用户名和密码查询用户是否存在  -->
    <select id="isUser" parameterType="com.wqy.cinematickets.entity.User" resultType="int">
        select COUNT(*) from user where username=#{username} and password=#{password}
    </select>
    <!--  根据用户名和密码查询用户信息  -->
    <select id="getUserByNameAndPassword" parameterType="com.wqy.cinematickets.entity.User" resultType="com.wqy.cinematickets.entity.User">
        select * from user where username=#{username} and password=#{password}
    </select>
    <!--  插入影片  -->
    <insert id="addMovie" parameterType="com.wqy.cinematickets.entity.Film">
        insert into movie(mname,mtype,mcountry,releasetime,mduration,mpicture,mintroduction) value(#{mname},#{mtype},#{mcountry},#{releasetime},#{mduration},#{mpicture},#{mintroduction})
    </insert>
    <!--  查询所有影片  -->
    <select id="getAllMovie" resultType="com.wqy.cinematickets.entity.Film">
        select * from movie
    </select>
    <!--  分页查询  -->
    <select id="getMoviePagination" parameterType="com.wqy.cinematickets.entity.Pagination" resultType="com.wqy.cinematickets.entity.Film">
        select * from movie order by mid desc limit #{pageSize} offset #{pageIndex}
    </select>
    <!--  查询影片库数量  -->
    <select id="getAllMovieCount" resultType="int">
        select COUNT(*) from movie
    </select>
    <!--  根据影片id修改影片库的影片信息  -->
    <update id="updateMovieById" parameterType="com.wqy.cinematickets.entity.Film">
        update movie set mname=#{mname},mtype=#{mtype},mcountry=#{mcountry},releasetime=#{releasetime},mduration=#{mduration},mpicture=#{mpicture},mintroduction=#{mintroduction} where mid=#{mid}
    </update>
    <!--  根据影片id删除影片库的影片  -->
    <delete id="delMovieByid" parameterType="int">
        delete from movie where mid=#{mid}
    </delete>
    <!--  根据电影名字影片库模糊查询  -->
    <select id="getMovieByName" parameterType="com.wqy.cinematickets.entity.Pagination" resultType="com.wqy.cinematickets.entity.Film">
        select * from movie where mname like CONCAT('%',#{name},'%') limit #{pageSize} offset #{pageIndex}
    </select>
    <!--  根据电影名字影片库模糊查询的数据个数  -->
    <select id="getMovieByNameCount" parameterType="String" resultType="int">
        select COUNT(*) from movie where mname like CONCAT('%',#{name},'%')
    </select>
    <!--  添加近期影片  -->
    <insert id="addRecentFilms" parameterType="int">
        insert into recentfilms(mid) value(#{mid})
    </insert>
    <!--  根据影片id删除近期影片  -->
    <delete id="delRecentFilmsById" parameterType="int">
        delete from recentfilms where  mid=#{mid}
    </delete>
    <!--  获取近期影片  -->
    <select id="getAllRecentFilms" resultType="com.wqy.cinematickets.entity.Film">
        select m.* from movie m,recentfilms r where m.mid=r.mid
    </select>
    <!--  添加放映厅  -->
    <insert id="addProjectionHall" parameterType="com.wqy.cinematickets.entity.ProjectionHall">
        insert into projectionhall(mrow,mcolumn) value(#{mrow},#{mcolumn})
    </insert>
    <!--  修改放映厅  -->
    <update id="updateProjectionHallById" parameterType="com.wqy.cinematickets.entity.ProjectionHall">
        update projectionhall set mrow=#{mrow},mcolumn=#{mcolumn} where pid=#{pid}
    </update>
    <!--  获取所有放映厅  -->
    <select id="getAllProjectionHall" resultType="com.wqy.cinematickets.entity.ProjectionHall">
        select * from projectionhall
    </select>
</mapper>