<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wqy.cinematickets.dao.managerdao.ManagerDao">
    <!--  根据用户名和密码查询用户是否存在  -->
    <select id="isUser" parameterType="com.wqy.cinematickets.entity.User" resultType="int">
        select COUNT(*) from user where username=#{username} and password=#{password}
    </select>
    <!--  根据用户名和密码查询用户信息  -->
    <select id="getUserByNameAndPassword" parameterType="com.wqy.cinematickets.entity.User" resultType="com.wqy.cinematickets.entity.User">
        select * from user where username=#{username} and password=#{password}
    </select>
    <!--  插入影片  -->
    <insert id="addMovie" parameterType="com.wqy.cinematickets.entity.Film">
        insert into movie(mname,mtype,mcountry,releasetime,mduration,mpicture,mintroduction) value(#{mname},#{mtype},#{mcountry},#{releasetime},#{mduration},#{mpicture},#{mintroduction})
    </insert>
    <!--  查询所有影片  -->
    <select id="getAllMovie" resultType="com.wqy.cinematickets.entity.Film">
        select * from movie
    </select>
    <!--  分页查询  -->
    <select id="getMoviePagination" parameterType="com.wqy.cinematickets.entity.Pagination" resultType="com.wqy.cinematickets.entity.Film">
        select * from movie order by mid desc limit #{pageSize} offset #{pageIndex}
    </select>
    <!--  查询影片库数量  -->
    <select id="getAllMovieCount" resultType="int">
        select COUNT(*) from movie
    </select>
    <!--  根据影片id修改影片库的影片信息  -->
    <update id="updateMovieById" parameterType="com.wqy.cinematickets.entity.Film">
        update movie set mname=#{mname},mtype=#{mtype},mcountry=#{mcountry},releasetime=#{releasetime},mduration=#{mduration},mpicture=#{mpicture},mintroduction=#{mintroduction} where mid=#{mid}
    </update>
    <!--  根据影片id删除影片库的影片  -->
    <delete id="delMovieByid" parameterType="int">
        delete from movie where mid=#{mid}
    </delete>
    <!--  根据电影名字影片库模糊查询  -->
    <select id="getMovieByName" parameterType="com.wqy.cinematickets.entity.Pagination" resultType="com.wqy.cinematickets.entity.Film">
        select * from movie where mname like CONCAT('%',#{name},'%') limit #{pageSize} offset #{pageIndex}
    </select>
    <!--  根据电影名字影片库模糊查询的数据个数  -->
    <select id="getMovieByNameCount" parameterType="String" resultType="int">
        select COUNT(*) from movie where mname like CONCAT('%',#{name},'%')
    </select>
    <!--  添加近期影片  -->
    <insert id="addRecentFilms" parameterType="int">
        insert into recentfilms(mid) value(#{mid})
    </insert>
    <!--  根据影片id删除近期影片  -->
    <delete id="delRecentFilmsById" parameterType="int">
        delete from recentfilms where  mid=#{mid}
    </delete>
    <!--  获取近期影片  -->
    <select id="getAllRecentFilms" resultType="com.wqy.cinematickets.entity.Film">
        select m.* from movie m,recentfilms r where m.mid=r.mid order by r.rid desc
    </select>
    <!-- 票房查询   -->
    <select id="getFilmNum" parameterType="int" resultType="int">
        select COUNT (*) from seatselection where eid = #{eid}
    </select>
    <!--  添加放映厅  -->
    <insert id="addProjectionHall" parameterType="com.wqy.cinematickets.entity.ProjectionHall">
        insert into projectionhall(mrow,mcolumn) value(#{mrow},#{mcolumn})
    </insert>
    <!--  修改放映厅  -->
    <update id="updateProjectionHallById" parameterType="com.wqy.cinematickets.entity.ProjectionHall">
        update projectionhall set mrow=#{mrow},mcolumn=#{mcolumn} where pid=#{pid}
    </update>
    <!--  获取所有放映厅  -->
    <select id="getAllProjectionHall" resultType="com.wqy.cinematickets.entity.ProjectionHall">
        select * from projectionhall order by pid desc
    </select>
    <!--  删除放映厅  -->
    <delete id="delProjectionHallById" parameterType="int">
        delete from projectionhall where pid=#{pid}
    </delete>
    <!--  添加场次安排  -->
    <insert id="addExclusivePiece" parameterType="com.wqy.cinematickets.entity.ExclusivePiece">
        insert into exclusivepiece(mid,pid,timebegin,timeend,mlanguage,meffect,mprice) value(#{mid},#{pid},#{timebegin},#{timeend},#{mlanguage},#{meffect},#{mprice})
    </insert>
    <!--  单表查询场次  -->
    <select id="getExclusivepiece" resultType="com.wqy.cinematickets.entity.ExclusivePiece">
        select * from exclusivepiece where DATE_FORMAT(timebegin,'%Y-%m-%d')=DATE_FORMAT(NOW(),'%Y-%m-%d')
    </select>
    <resultMap id="exclusivePiece" type="com.wqy.cinematickets.entity.ExclusivePiece">
        <id property="eid" column="eid"></id>
        <result property="mid" column="mid"></result>
        <result property="pid" column="pid"></result>
        <result property="timebegin" column="timebegin"></result>
        <result property="timeend" column="timeend"></result>
        <result property="mlanguage" column="mlanguage"></result>
        <result property="meffect" column="meffect"></result>
        <result property="mprice" column="mprice"></result>
        <association property="film" javaType="com.wqy.cinematickets.entity.Film">
            <id property="mid" column="mid"></id>
            <result property="mname" column="mname"></result>
            <result property="mtype" column="mtype"></result>
            <result property="mcountry" column="mcountry"></result>
            <result property="releasetime" column="releasetime"></result>
            <result property="mduration" column="mduration"></result>
            <result property="mpicture" column="mpicture"></result>
            <result property="mintroduction" column="mintroduction"></result>
        </association>
    </resultMap>
    <!--  多表获取排片信息   -->
    <select id="getExclusivepieceInfo" resultMap="exclusivePiece" parameterType="com.wqy.cinematickets.entity.Pagination">
        select * from exclusivepiece e join movie m on e.mid=m.mid where DATE_FORMAT(e.timebegin,'%Y-%m-%d')=DATE_FORMAT(NOW(),'%Y-%m-%d') order by e.eid desc limit #{pageSize} offset #{pageIndex}
    </select>
    <!-- 获取场次的数量  -->
    <select id="getExclusivepieceCount" resultType="int">
        select COUNT(*) from exclusivepiece where DATE_FORMAT(timebegin,'%Y-%m-%d')=DATE_FORMAT(NOW(),'%Y-%m-%d')
    </select>
    <!--  根据电影名字对场次安排模糊查询  -->
    <select id="gettExclusivepieceByName" parameterType="com.wqy.cinematickets.entity.Pagination" resultMap="exclusivePiece">
        select * from exclusivepiece e join movie m on e.mid=m.mid where m.mname like CONCAT('%',#{name},'%') limit #{pageSize} offset #{pageIndex}
    </select>
    <!--  获取电影名模糊查询场次的数量  -->
    <select id="getExclusivepieceByNameCount" parameterType="String" resultType="int">
        select COUNT(*) from exclusivepiece e join movie m on e.mid=m.mid where m.mname like CONCAT('%',#{name},'%')
    </select>
    <!--  删除场次  -->
    <delete id="delExclusivepieceById" parameterType="int">
        delete from exclusivepiece where eid=#{eid}
    </delete>
    <!--  编辑场次  -->
    <update id="updateExclusivepieceById" parameterType="com.wqy.cinematickets.entity.ExclusivePiece">
        update exclusivepiece set mid=#{mid},pid=#{pid},timebegin=#{timebegin},timeend=#{timeend},mlanguage=#{mlanguage},meffect=#{meffect},mprice=#{mprice} where eid=#{eid}
    </update>
    <!--  删除不是当日的排片数据  -->
    <delete id="delExclusivepieceNotTody">
        DELETE FROM exclusivepiece WHERE eid not in (SELECT eid from(SELECT eid FROM exclusivepiece WHERE DATE_FORMAT(timebegin,'%Y-%m-%d')=DATE_FORMAT(NOW(),'%Y-%m-%d'))as t)
    </delete>
<!--    <resultMap id="film" type="com.wqy.cinematickets.entity.Film">-->
<!--        <id property="mid" column="mid"></id>-->
<!--        <result property="mname" column="mname"></result>-->
<!--        <result property="mtype" column="mtype"></result>-->
<!--        <result property="mcountry" column="mcountry"></result>-->
<!--        <result property="releasetime" column="releasetime"></result>-->
<!--        <result property="mduration" column="mduration"></result>-->
<!--        <result property="mpicture" column="mpicture"></result>-->
<!--        <result property="mintroduction" column="mintroduction"></result>-->
<!--        <association property="filmReview" javaType="com.wqy.cinematickets.entity.FilmReview">-->
<!--            <id property="mid" column="mid"></id>-->
<!--            <result property="uid" column="uid"></result>-->
<!--            <result property="score" column="score"></result>-->
<!--            <result property="evaluate" column="evaluate"></result>-->
<!--            <result property="evaluatetime" column="evaluatetime"></result>-->
<!--        </association>-->
<!--    </resultMap>-->
<!--    &lt;!&ndash;  获取近期影片和影评  &ndash;&gt;-->
<!--    <select id="getAllRecentFilmsAndReview" resultMap="film">-->
<!--        select m.*,f.* from movie m,recentfilms r where m.mid=r.mid left join filmreview f on m.mid=f.mid-->
<!--    </select>-->

</mapper>