<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wqy.cinematickets.dao.receptiondao.ReceptionDao">
    <!--  获取近期热门影片  -->
    <select id="getAllPopularRecentFilms" resultType="com.wqy.cinematickets.entity.Film">
        select m.* from movie m,recentfilms r where m.mid=r.mid order by m.score desc limit 5
    </select>
    <!-- 根据电影id查询电影信息  -->
    <select id="getFilmById" parameterType="int" resultType="com.wqy.cinematickets.entity.Film">
        select * from movie where mid=#{mid}
    </select>
    <!--  根据电影id查询电影排片  -->
    <select id="getExclusivePieceById" resultType="com.wqy.cinematickets.entity.ExclusivePiece" parameterType="int">
        select * from exclusivepiece where mid=#{mid}
    </select>
    <!-- 添加影评   -->
    <insert id="addFilmReview" parameterType="com.wqy.cinematickets.entity.FilmReview">
        insert into filmreview(mid,uid,score,evaluate,evaluatetime) value (#{mid},#{uid},#{score},#{evaluate},#{evaluatetime})
    </insert>
    <!--  根据影片id获取该影片影评分数  -->
    <select id="getFilmReviewByMid" resultType="int" parameterType="int">
        select score from filmreview where mid=#{mid}
    </select>
    <!--  获取所有影片分数  -->
    <select id="getFilmScore"  resultType="com.wqy.cinematickets.entity.FilmReview">
        select score,mid from filmreview
    </select>
    <!-- 改变影片分数  -->
    <update id="updateFilmScore" parameterType="com.wqy.cinematickets.entity.Film">
        update movie set score=#{score} where mid=#{mid}
    </update>
    <!-- 根据影片id获取该影片所有评价   -->
<!--    <resultMap id="allfilmreview" type="com.wqy.cinematickets.entity.FilmReview">-->
<!--        <id property="mid" column="mid"></id>-->
<!--        <result property="uid" column="uid"></result>-->
<!--        <result property="score" column="score"></result>-->
<!--        <result property="evaluate" column="evaluate"></result>-->
<!--        <result property="evaluatetime" column="evaluatetime"></result>-->
<!--        <association property="user" javaType="com.wqy.cinematickets.entity.User">-->
<!--            <id property="uid" column="uid"></id>-->
<!--            <result property="username" column="username"></result>-->
<!--            <result property="password" column="password"></result>-->
<!--            <result property="upicture" column="upicture"></result>-->
<!--            <result property="utype" column="utype"></result>-->
<!--        </association>-->
<!--    </resultMap>-->
    <!-- 根据影片id获取该影片所有评价   -->
    <select id="getFilmReviewInfoById" parameterType="int" resultType="com.wqy.cinematickets.entity.FilmReview">
        select * from filmreview f join user u on f.uid=u.uid where mid=#{mid}
    </select>
    <!--  添加想看的影片  -->
    <insert id="addWantSeeFilm" parameterType="com.wqy.cinematickets.entity.WantFilm">
        insert into wanttosee(uid,mid) value (#{uid},#{mid})
    </insert>
    <!--  查询添加想看的影片是否已添加  -->
    <select id="isAddWantSeeFilm" parameterType="com.wqy.cinematickets.entity.WantFilm" resultType="int">
        select COUNT(*) from wanttosee where uid=#{uid} and mid=#{mid}
    </select>
    <resultMap id="getexclusivePiece" type="com.wqy.cinematickets.entity.ExclusivePiece">
        <id property="eid" column="eid"></id>
        <result property="mid" column="mid"></result>
        <result property="pid" column="pid"></result>
        <result property="timebegin" column="timebegin"></result>
        <result property="timeend" column="timeend"></result>
        <result property="mlanguage" column="mlanguage"></result>
        <result property="meffect" column="meffect"></result>
        <result property="mprice" column="mprice"></result>
        <association property="film" javaType="com.wqy.cinematickets.entity.Film">
            <id property="mid" column="mid"></id>
            <result property="mname" column="mname"></result>
            <result property="mtype" column="mtype"></result>
            <result property="mcountry" column="mcountry"></result>
            <result property="releasetime" column="releasetime"></result>
            <result property="mduration" column="mduration"></result>
            <result property="mpicture" column="mpicture"></result>
            <result property="mintroduction" column="mintroduction"></result>
        </association>
        <association property="projectionHall" javaType="com.wqy.cinematickets.entity.ProjectionHall">
            <id property="pid" column="pid"></id>
            <result property="mrow" column="mrow"></result>
            <result property="mcolumn" column="mcolumn"></result>
        </association>
    </resultMap>
    <!--  根据排片id多表获取排片信息   -->
    <select id="getExclusivepieceInfoByEid" resultMap="getexclusivePiece" parameterType="int">
        select * from exclusivepiece e left join movie m on e.mid=m.mid left join projectionhall p on e.pid=p.pid where e.eid=#{eid}
    </select>
    <!--  插入订单   -->
    <insert id="addOrder" parameterType="com.wqy.cinematickets.entity.Order">
        insert into uorder(oid,eid,uid,oprice) value (#{oid},#{eid},#{uid},#{oprice})
    </insert>
    <!-- 插入订单座位   -->
    <insert id="addSeatselection" parameterType="com.wqy.cinematickets.entity.SeatSelection">
        insert into seatselection(oid,rowsel,columnsel,eid) value (#{oid},#{rowsel},#{columnsel},#{eid})
    </insert>
    <!-- 获取某场次已被选的座位  -->
    <select id="getSeatselectionByEid" parameterType="int" resultType="com.wqy.cinematickets.entity.SeatSelection">
        select * from seatselection where eid=#{eid}
    </select>
    <resultMap id="order" type="com.wqy.cinematickets.entity.Order">
        <id property="oid" column="oid"></id>
        <result property="eid" column="eid"></result>
        <result property="uid" column="uid"></result>
        <result property="oprice" column="oprice"></result>
        <association property="exclusivePiece" javaType="com.wqy.cinematickets.entity.ExclusivePiece">
            <id property="eid" column="eid"></id>
            <result property="mid" column="mid"></result>
            <result property="pid" column="pid"></result>
            <result property="timebegin" column="timebegin"></result>
            <result property="timeend" column="timeend"></result>
            <result property="mlanguage" column="mlanguage"></result>
            <result property="meffect" column="meffect"></result>
            <result property="mprice" column="mprice"></result>
        </association>
        <association property="film" javaType="com.wqy.cinematickets.entity.Film">
            <id property="mid" column="mid"></id>
            <result property="mname" column="mname"></result>
            <result property="mtype" column="mtype"></result>
            <result property="mcountry" column="mcountry"></result>
        </association>
    </resultMap>
    <!-- 根据订单编号获取订单信息   -->
    <select id="getOrderInfo" resultMap="order" parameterType="String">
        select * from uorder o left join exclusivepiece e on o.eid = e.eid left join movie m on e.mid = m.mid where o.oid=#{oid}
    </select>
    <!-- 根据订单编号查询座位   -->
    <select id="getSeatselectionByOid" parameterType="String" resultType="com.wqy.cinematickets.entity.SeatSelection">
        select * from seatselection where oid=#{oid}
    </select>
    <!-- 根据用户id查询用户姓名和头像   -->
    <select id="getNameAndPicById" parameterType="int" resultType="com.wqy.cinematickets.entity.User">
        select username,upicture from user where uid=#{uid}
    </select>
</mapper>