<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wqy.cinematickets.dao.receptiondao.ReceptionDao">
    <!--  获取近期热门影片  -->
    <select id="getAllPopularRecentFilms" resultType="com.wqy.cinematickets.entity.Film">
        select m.* from movie m,recentfilms r where m.mid=r.mid order by m.score desc limit 5
    </select>
    <!-- 根据电影id查询电影信息  -->
    <select id="getFilmById" parameterType="int" resultType="com.wqy.cinematickets.entity.Film">
        select * from movie where mid=#{mid}
    </select>
    <!--  根据电影id查询电影排片  -->
    <select id="getExclusivePieceById" resultType="com.wqy.cinematickets.entity.ExclusivePiece" parameterType="int">
        select * from exclusivepiece where mid=#{mid}
    </select>
    <!-- 添加影评   -->
    <insert id="addFilmReview" parameterType="com.wqy.cinematickets.entity.FilmReview">
        insert into filmreview(mid,uid,score,evaluate,evaluatetime) value (#{mid},#{uid},#{score},#{evaluate},#{evaluatetime})
    </insert>
    <!--  根据影片id获取该影片影评  -->
    <select id="getFilmReviewByMid" resultType="int" parameterType="int">
        select score from filmreview where mid=#{mid}
    </select>
</mapper>